<div class="column">
    <h1>Добро пожаловать, {{user.firstName}}!</h1><br>
    <div class="btn-group-vertical btn-group-lg" role="group" aria-label="Vertical button group">
        <a class="btn btn-primary" href="users/neworder" role="button">Вызвать курьера</a>
        <a class="btn btn-primary" href="users/profile" role="button">Профиль</a>
        <a class="btn btn-primary" href="/" role="button">Подписки</a>
        <a class="btn btn-primary" href="users/prevorders" role="button">Архив заказов</a>
        <a class="btn btn-primary" href="users/analizes" role="button">Архив анализов</a>    
    </div>
</div>
<div class="column">
    {{!-- <img id="imgHome" class="float-md-left" src="/imj/blood test kit.png"> --}}
    <h1>Узнайте, что ваша кровь говорит о вас ...</h1>
    <div>
        <h3>Получить еще более полное понимание вашего состояния. Получите онлайн отчеты о здоровье - и многое другое.
        </h3>
        <h3>2 999 руб.</h3>
        <br>
        <button id="indexButton" type="button" class="btn btn-success">Купить</button>
    </div>
</div>

{{#ifCond user.userName 'admin'}}
<form action="users/addadmin" method="post">
    <div>
        <label class="labelClass">Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Add Admin" />
    </div>
</form>
<form action="users/addcourier" method="post">
    <div>
        <label class="labelClass">Username:</label>
        <input type="text" name="username" />
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Add Courier" />
    </div>
</form>
{{/ifCond}}