<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1>Добро пожаловать, Василий!</h1>

<h2>Заполните ваш профиль здоровья:</h2>
<h4>Деталь </h4>
<form action="" method="POST">

    <label for="height">Ваш рост:</label>
    <input name="height" id="height"></input><br>

    <label for="weight">Ваш вес:</label>
    <input name="weight" id="weight"></input><br>

    <label for="age">Ваш возраст:</label>
    <input name="age" id="age"></input><br>

    <input type="submit" value="Сохранить"></input>

</form>