<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Добро пожаловать, {{user.firstName}}!</h1><br>
            <h3><a href="users/neworder">Вызвать курьера</a></h3><br>
            <h3><a href="users/profile">Профиль</a></h3><br>
            <h3><a href="">Подписки</a></h3><br>
            <h3><a href="users/prevorders">Архив заказов</a></h3><br>
            <h3><a href="users/analizes">Архив анализов</a></h3>
        </div>
    </div>
</div>
{{#ifCond user.userName 'admin'}}
<form action="users/addadmin" method="post">
    <div>
        <label class="labelClass">Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Add Admin" />
    </div>
</form>
<form action="users/addcourier" method="post">
    <div>
        <label class="labelClass">Username:</label>
        <input type="text" name="username" />
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Add Courier" />
    </div>
</form>
{{/ifCond}}

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Все права защищены</h5>
          <p>Спорт, спорт, - турбо спорт!</p>

        </div>
        <!-- Grid column -->

   {{!-- //     <hr class="clearfix w-100 d-md-none pb-3"> --}}

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">ABOUT</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Company Info</a>
              </li>
              <li>
                <a href="#!">Blog</a>
              </li>
              <li>
                <a href="#!">Careers</a>
              </li>
              <li>
                <a href="#!">Site Map</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">PARTNER WITH US</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Affiliates</a>
              </li>
              <li>
                <a href="#!">Medical Professionals</a>
              </li>
              <li>
                <a href="#!">Educators</a>
              </li>
              <li>
                <a href="#!">Scientists</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://elbrusboot.camp/"> Elbrus Bootcamp</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->