<div class="container">
    <div class="row">
        <div class="col-sm-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Вызов курьера</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, autem!</p>
                    <a href="users/neworder" class="btn btn-primary">Вызвать курьера</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Профиль</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="users/profile" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Архив заказов</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="users/prevorders" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Архив анализов</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="users/analizes" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Подписки</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="column1">
    {{!-- <img id="imgHome" class="float-md-left" src="/imj/blood test kit.png"> --}}
    <h1>Узнайте, что ваша кровь говорит о вас ...</h1>
    <div>
        <h3>Получить еще более полное понимание вашего состояния. Получите онлайн отчеты о здоровье - и многое другое.
        </h3>
        <h3>2 999 руб.</h3>
        <br>
         <form action="/users/neworder">
        <button id="indexButton" type="submit" class="btn btn-success">Купить</button>
        </form>
    </div>
</div>

{{#ifCond user.userName 'admin'}}
<form action="users/addadmin" method="post">
    <div>
        <label class="labelClass">Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Add Admin" />
    </div>
</form>
<form action="users/addcourier" method="post">
    <div>
        <label class="labelClass">Username:</label>
        <input type="text" name="username" />
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Add Courier" />
    </div>
</form>
{{/ifCond}}