<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>
<body>
        <table border=1>
                <table width="100%" border="1" cellpadding="4" cellspacing="5">
                        <caption>
                                <h1>страничка курьера</h1>
                        </caption>
                        <tr>
                                <th>номер заказа</th>
                                <th>адрес</th>
                                <th>дата и время</th>
                                <th>ФИО</th>
                                <th>телефон</th>
                                <th>доставлен</th>
                                <th>отмена</th>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                        <tr>
                                <td>234121</td>
                                <td>г. Москва Ул. Бурденко, подезд 3, </td>
                                <td>+7 962 948 33 00</td>
                                <td>2019-03-01 18:25</td>
                                <td>Иванов Иван Ноконорович</td>
                                <td><input type="button" value="ДОСТАВЛЕН" /></td>
                                <td><input type="button" value="ОТМЕНА" /></td>
                        </tr>
                </table>
</body>

</html>