

<h1>CRM</h1>
<h2>Список клиентов</h2>
<table border="1" cellspacing="0">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Команды</th>
        </tr>
    </thead>
    <tbody>
        {{#each Client}}
        <tr data-id={{this.id}}>

            <td>{{this.userName}}</td>
            <td>{{this.phone}}</td>
            <td>
                {{!-- <a href="/api/index/{{this._id}}" >D</a> --}}

                <button id="subBut">Посмотреть статистику</button>

            </td>
        </tr>
        {{/each}}
    </tbody>

</table>