<h1>CRM</h1>
<script src="/js/crm.js"></script>
<script src="/js/d3.js"></script>
{{!-- <script src="https://d3js.org/d3.v5.min.js"></script> --}}
<div <img id="imgCRM" src="/imj"></div>
<div>
    <h3>Список клиентов</h3>

    <table border="1" cellspacing="0" class="table table-striped">
        <thead>
            <tr>

                <th>Логин</th>
                <th>Телефон</th>
                <th>Команды</th>
            </tr>
        </thead>
        <tbody>
            {{#each Client}}
            <tr data-name={{this.userName}}>

                <td>{{this.userName}}</td>
                <td>{{this.phone}}</td>
                <td>
                    <button id="subBut">Информация по клиенту</button>
                </td>
            </tr>
            {{/each}}
        </tbody>

    </table>


</div>
<div></div>
</div>
<h3>Статистика по заказам</h3>
<table border="1" cellspacing="0" class="table table-striped">
    <thead>
        <tr>
            <th scope="row">Логин</th>
            <th scope="row">Дата теста</th>
            <th scope="row">Протеин</th>
            <th scope="row">Билирубин</th>
        </tr>
    </thead>
    <tbody id="tabTest">

    </tbody>
</table>
