<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<style type="text/css">
    body {
        background-image: url(/imj/sport-2264825_1920.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;

    }

</style>
<div class="Home"></div>