<div class="d-flex flex-wrap flex-md-nowrap">
  <div class="column"><img id="imgHome" src="/imj/blood test kit.png"></div>
  <div class="column">
    {{!-- <img id="imgHome" class="float-md-left" src="/imj/blood test kit.png"> --}}
    <h1>Узнайте, что ваша кровь говорит о вас ...</h1>
    <div>
      <h3>Получить еще более полное понимание вашего состояния. Получите онлайн отчеты о здоровье - и многое другое.
      </h3>
      <h3>2 999 руб.</h3>
      <br>
      <button id="indexButton" type="button" class="btn btn-success">Купить</button>
    </div>
  </div>
</div>
<script>
  const indBtn = document.getElementById('indexButton')
  indBtn.style.setProperty('width', '200px')
</script>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Все права защищены</h5>
        <p>Спорт, спорт, - турбо спорт!</p>

      </div>
      <!-- Grid column -->

      {{!-- //     <hr class="clearfix w-100 d-md-none pb-3"> --}}

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">ABOUT</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Company Info</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Careers</a>
          </li>
          <li>
            <a href="#!">Site Map</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">PARTNER WITH US</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Affiliates</a>
          </li>
          <li>
            <a href="#!">Medical Professionals</a>
          </li>
          <li>
            <a href="#!">Educators</a>
          </li>
          <li>
            <a href="#!">Scientists</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>



  </footer>


  <style>
      body {
  background:
  linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7)),
      url(/imj/dna-3539309_640.jpg);

      background-size: 100% auto;
      align-content: center;
      padding: 50px;
    }
  </style>

