<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/crm.js"></script>
  </head>
  <body>

    <header>
      <p><a href="/crm" >CRM</a> </p>
    </header>
    {{{body}}}
  </body>
</html>
