<!DOCTYPE html>
<html lang="ru">

</html>
<html>

<head>
  <title><h1>{{title}}</h1></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <meta name="Description" content="Service for good health">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Super Sport</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav mr-auto">

        {{#ifundef user.userName}}
        <li class="nav-item active">
          <a class="nav-link" href="/signup">Зарегистрироваться</a>
        </li>
        {{/ifundef}}

        {{#ifCond user.role 'admin'}}
        <li class="nav-item active">
          <a class="nav-link" href="/admins">Администрирование</a>
        </li>

        {{/ifCond}}

        {{#ifCond user.role 'admin'}}
        <li class="nav-item active">
          <a class="nav-link" href="/crm">CRM</a>
        </li>

        {{/ifCond}}
        {{#ifCond user.role 'courier'}}
        <li class="nav-item active">
          <a class="nav-link" href="/courier">Курьер</a>
        </li>

        {{/ifCond}}
        {{#ifCond user.role 'admin'}}
        <li class="nav-item active">
          <a class="nav-link" href="/courier">Курьер</a>
        </li>
        {{/ifCond}}


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="/users">{{user.userName}}</a>
        </li>

        {{#ifundef user.userName}}
        {{else}}
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Выйти</a>
        </li>
        {{/ifundef}}

        {{#ifundef user.userName}}
        <li class="nav-item active">
          <a class="nav-link" href="/login">Войти</a>
        </li>

        {{/ifundef}}

      </ul>

    </div>
  </nav>

  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>



</body>


</html>