<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>Заполните ваш профиль:</h2><br>
<form action="profile" method="POST">

    <label for="firstName">Ваше имя:</label><br>
    <input name="firstName" id="firstName"></input><br><br>

    <label for="lastName">Ваша фамилия:</label><br>
    <input name="lastName" id="lastName"></input><br><br>


    <label for="address">Адрес доставки:</label><br>
    <input name="height" id="address"></input><br><br>

    <label for="telephon">Телефон</label><br>
    <input name="telephon" id="telephon"></input><br><br>

    <label for="gender">Пол: </label>
    <!-- <form> -->
        <span><input name="gender" for="gender" type="radio" value="men">муж </input></span>
        <span></span><input name="gender" for="gender" type="radio" value="woman"> жен</input></span>
    <!-- </form> -->


    <label for="height">Ваш рост:</label><br>
    <input name="height" id="height"></input><br><br>

    <label for="weight">Ваш вес:</label><br>
    <input name="weight" id="weight"></input><br><br>

    <label for="age">Ваш возраст:</label><br>
    <input name="age" id="age"></input><br><br>

    <input type="submit" value="Сохранить"></input>

</form>