body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  background-color: rgb(9, 34, 49);
  background: linear-gradient(rgba(14, 13, 13, 0.6), rgba(26, 25, 25, 0.7)),
}

.brandName {
  font-family: 'Passion One', cursive;
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Passion One', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Maven Pro', sans-serif;
}

a {
  color: #00B7FF;
}

.text-uppercase {
  color: rgb(111, 118, 124);
}

.text-center {
  color: rgb(148, 157, 165);
}

/*  ssssssssssssssssssssssssss*/

.row::before, .row::after {
  display: table;
  content: " ";
  clear: both;
}

.prev-grid {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  border: 1px solid black;
}

.half {
  width: calc(100% / 2);
}

.column {
  float: left;
}

.column {

  border: 0px solid rgb(27, 27, 27);

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), ;
  color: azure;
  padding: 2rem;
  margin-bottom: 0, 8rem;
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* display:flex;
  flex-wrap:wrap; */
}

#imgHome {
  width: 40vw;
  height: auto;
}

.prev-flex-block {
  display: block;
  margin: 10px;
}

.indexPicture {
  float: left;
}

@media (max-width:600px) {
  html {
    font-size: 10px;
  }
}

.form-control {
  margin: 0 15px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(/imj/dna-3539309_1920.jpg);
  background-size: 100% auto;
  align-content: center;
  padding: 50px;
  color: white;
}
